Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
.tmp.driveupload/*
.tmp.drivedownload/*
l2f_script/*
cards/art/.tmp.driveupload
cards/art/l2f_script
versions/
_old/
test
cards/art/NUOVE DA CONTROLLARE
cards/art/_NUOVE DA CONTROLLARE
misura-scatto.json
