### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

.tmp.driveupload/*
.tmp.drivedownload/*
l2f_script/*
cards/art/.tmp.driveupload
cards/art/l2f_script
desktop/node_modules
desktop
test
handoff.md
cards/art/NUOVE DA CONTROLLARE
